header_title {
    width: 100%;
    padding: .3em 1em 0 1em;
    margin: 1em 0 1em 0;
    background-color: #e2e2e252;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}

.notification .btn_format {
    text-align: center !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 13px;
    padding-left: .5em;
}

.notification .btn_format:hover > i {
    text-shadow: 2px 2px 4px #3F51B5;
    color: #ffc107 !important;
}

.notification .btn_format:hover > span {
    text-shadow: 2px 2px 4px #3F51B5;
    color: #ffc107 !important;
}

.brand_format{
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.brand_format a:hover {
    color: #fff !important;
    background-color: #000;
}

.notification .icon_format{
    color: #fff;
    text-align: center;
}
.notification  .span_format{
    color: #fff;
}
.navbar_header {
    height: 60px;
}

.navbar_header .search_box{
    justify-content: center;
    margin: 0;
}

.navbar_header .search_box input{
    border-radius: 2px 0 0 2px !important;
    border: none;
    font-size: 14px;
}

.navbar_header .search_box button{
    border-radius: 0 2px 2px 0 !important;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: .3s;
}

.navbar_header .search_box button:hover{
    background-color: #fff;
    color: #1f7ed0;
    border-left: 2px solid #ddd;
}

.notification {
    display: flex;
    justify-content: center;
    padding: .5em 0 .5em 0;
}

.btn_noti {
    height: 2.5em;
    color: #fff;
    border: none;
    background: transparent;
    transition: 0.2s;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.notification button:hover {
    color: #ffc107;
    text-shadow: 2px 2px 4px #3F51B5;
}

.notification i {
    font-size: 18px;
}

.notification button{
    font-size: 13px;
    padding-left: .5em;
}

.notification .dropdown-menu{
    margin: 1em 1em 0 0 !important;
}